.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerVideo {
    position: relative; /* ¡ESTO ES CLAVE! */
    display: inline-block;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}